.code-container{

    max-width: 400px;
    width: 100%;
    height: fit-content;
    background-color: azure;
    padding: 1rem;
    box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.245);
    border-radius: .5rem;
    overflow:auto;
    word-wrap:break-word;
    text-align: center;
}

i{
    position: absolute;
    font-size: 2rem;
    top:-15px;
    right: -15px;
    color: gray;
}
i:hover{
    color: black;
    transition: all 300 ease-in-out;
}
pre{
    font-weight: normal;
    font-size: 1rem;
}